/* BASE */
/* It does not have a responsive layout yet! */

* {
    font-size: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111827;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

/*first section exercise */

.main_container {
    text-align: center; 
}

.first_nav {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.first_nav button {
    border: none;
    border-radius: 20px;
    width: 30%; 
    padding: 3px;  
    display: flex;
    align-items: center;
    background-color: #1f2937;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.first_nav button:hover {
    background-color: #374151;
    transition: 0.5;
}

.first_nav p {
    font-size: 1.3em; 
    text-align: center; 
}

.first_nav img {
    width: 4%;
    margin-left: 10px;
}

#new_special {
    margin-right: 15px;
    background-color: #1a56db;
    padding: 7px;
    border-radius: 17px;
    width: 50px;
    font-size: 1em;
    color: white;
}

.first_header {
    margin-top: 20px;
}

.first_header h1 {
    font-size: 5em;
}

.first_header p {
    color: #9ba2ae;
    font-size: 1.8em;
    margin: 10px 150px;
}

.first_buttons {
    display: flex;
    justify-content: center;
    margin: 30px;    
}

.first_buttons button {
    width: 130px;
    padding: 11px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    color: white;
    font-size: 1.3em;
    transition: 0.3s;
    cursor: pointer;
}

.first_buttons svg {
    width: 30px;
    height: 15px;
    display: block;
}

.button_one {
    background-color: #1a56db;
    margin-right: 15px;
}

.button_one:hover {
    background-color: #1545ad;
}

.button_two {
    border: 1px solid #374151 !important;
    background-color: #111827;
}

.button_two:hover {
    background-color: #374151;
}

.button_one svg {
    padding-left: 10px;
}

.button_two svg {
    padding-right: 10px;
}

.svg_social_media svg {
    width: 120px;
    color: #9ba2ae;
    margin: 40px;
}

.svg_social_media svg:hover {
    color: #bebfc0;
}

.svg_social_media {
    display: flex;
    justify-content: center;
    align-items: center;
}

#scale_one {
    width: 160px;
}

#scale_two {
    width: 90px;
}

.first_footer h4 {
    font-size: 1.5em;
    text-transform: uppercase;
    color: #9ba2ae;
}

.first_footer {
    margin-top: 50px;
}

/* second section exercise */

.second_svg {
    width: 55px;
    background-color: #1e3a8a;
    border-radius: 50%;
    padding: 12px;
    color: #93c5fd;
}

.second_header h2 {
    font-size: 3em;
    margin-bottom: 15px;
}

.second_header p {
    font-size: 1.8em;
    color:#9ba2ae;
}

.second_header {
    margin: 50px;
    margin-left: 70px;
}

.second_main {
    margin: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid_item {
    padding: 20px;
}

.grid_item h4 {
    font-size: 1.8em;
    padding-top: 20px;
}

.grid_item p {
    font-size: 1.4em;
    color:#9ba2ae;
    padding-top: 10px;
}


/* third section exercise */

.third_main {
    text-align: center;
    margin: 30px 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo_one {
    width: 35px;
    margin-right: 10px;
}

.logo h4 {
    font-size: 2.5em;
    font-weight: 600;
}

.third_main p {
    margin: 20px;
    font-size: 1.5em;
    color: #9ba2ae;
}

.footer_items ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 25px;
}

.footer_items a {
    font-size: 1.4em;
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

.footer_items a:hover {
    text-decoration: underline;
}

.third_main span {
    font-size: 1.3em;
    color: #9ba2ae;
}

span a {
    font-size: 1em;
    color: #9ba2ae;
    text-decoration: none;
}

span a:hover {
    text-decoration: underline;
}

/* fourth section exercise */

.fourth_main {
    display: flex;
    margin-top: 40px;
}

.second_buttons {
    display: flex;    
}

.second_buttons button {
    width: 130px;
    padding: 11px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    color: white;
    font-size: 1.3em;
    transition: 0.3s;
    cursor: pointer;
}

.second_buttons svg {
    width: 30px;
    height: 15px;
    display: block;
}

.fourth_header {
    margin: 30px;
    width: 70%;
    margin-left: 60px;
}

.fourth_header h2 {
    font-size: 4.2em;
    margin-bottom: 20px;
}

.fourth_header p {
    font-size: 1.9em;
    color:#9ba2ae;
    margin-bottom: 30px;
}

.header_image img {
    width: 60%; 
}

.header_image {
    text-align: center;
}

/* fifth section exercise */

.fifth_main {
    display: flex;
    margin-top: 50px;
    line-height: 23px;
    margin-bottom: 100px;
}

.fifth_header {
    text-align: right;
    margin-right: 30px;
    padding-top: 90px;
}

.fifth_header img {
    border-radius: 5px;
    width: 90%;
}

.fifth_container {
    margin-right: 100px;
}

.fifth_container hr {
    border: 0;
    height: 1px;
    background: #374151;
    margin: 20px 0;
}

.fifth_container h2 {
    font-size: 3em;
    margin-bottom: 10px;
}

.fifth_container p {
    font-size: 1.8em;
    color: #9ba2ae;
}

.fifth_svg {
    width: 33px;
    border-radius: 50%;
    padding: 7px;
}

.lock {
    background-color: #dbeafe;
    color: #2563eb;
}

.prez {
    background-color: #4a1d96;
    color: #cabffd;
}

.code {
    background-color: #014451;
    color: #047481;
}

.fifth_box {
    display: flex;
}

.fifth_box_two {
    margin-left: 15px;
    margin-bottom: 20px;
}

.fifth_box_two h4 {
    font-size: 2em;
}

.fifth_box_two a {
    font-size: 1.8em;
    text-decoration: none;
}

.a_lock {
    color: #2563eb;
}

.a_prez {
    color: #8d5ff4;
}

.a_code {
    color: #0694a2;
}

.img_lock {
    width: 25px;
}

.img_prez {
    width: 25px;
}

.img_code {
    width: 25px;
}

.a_code:hover,
.a_lock:hover,
.a_prez:hover,
.img_code:hover,
.img_lock:hover,
.img_prez:hover {
    opacity: 0.7;
}

.align_fifth a {
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
}


#fifth_p {
    font-size: 1.4em;
    line-height: 20px;
}

/* sixth section exercise */

.sixth_main {
    display: flex;
    justify-content: space-between;
    margin: 30px;  
    align-items: flex-start;
}

.second_box {
    display: flex;
}

.footer_sixth {
    margin-left: 60px;
}

.footer_sixth h4 {
    font-size: 1.4em;
}

.footer_sixth a {
    color: #9ba2ae;
    text-decoration: none;
    font-size: 1.4em;
    line-height: 35px;
}

.footer_sixth a:hover {
    text-decoration: underline;
}

.sixth_main_small hr {
    border: 0;
    height: 1px;
    background: #374151;
    margin: 20px 30px;
}

.footer_sixth_last {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    align-items: flex-start;
}

.social_media_small {
    display: flex;
}

.footer_svg {
    width: 20px;
    margin-left: 30px;
    color: #9ba2ae;
}
.footer_svg:hover {
    color: white;
}

.footer_sixth_last span {
    font-size: 1.3em;
    color: #9ba2ae;
}

/* seventh section exercise */

.seventh_main {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/coast-house-view.jpg);
}

.seventh_box_header {
    margin: 30px;
    margin-top: 80px;
}

.seventh_box_header h2 {
    font-size: 4.3em;
    padding: 30px 0;
}

.seventh_box_header p {
    font-size: 1.8em;
    width: 700px;
    color: #c1c3c8;
    line-height: 30px;
}

.seventh_box_header button {
    margin-top: 30px;
    border: none;
    background-color: #1a56db;
    padding: 15px 23px;
    border-radius: 10px;
    cursor: pointer;
}

.seventh_button:hover {
    background-color: #1545ad;
}

.seventh_button a {
    color: white;
    text-decoration: none;
    font-size: 1.7em;
}


.seventh_form {
    background-color: #1f2937;
    display: flex;
    margin: 30px;
    border-radius: 5px;
}